:root {
    --animation-duration: 0.5s;
}

.transition-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    transition: transform var(--animation-duration) ease-in-out, transform var(--animation-duration) ease-in-out;
}

.fade-left-enter-from {
    transform: translate3d(100%, 0, 0);
}
.fade-left-enter-to {
    transform: translate3d(0, 0, 0);
}
.fade-left-leave-to {
    transform: translate3d(-20%, 0, 0);
}

.fade-right-enter-from {
    transform: translate3d(-20%, 0, 0);
}
.fade-right-enter-to {
    transform: translate3d(0, 0, 0);
}
.fade-right-leave-from {
    z-index: 1;
}
.fade-right-leave-to {
    transform: translate3d(100%, 0, 0);
    z-index: 1;
}